.GradientBar1 {
  height: 0.5rem;
  width: calc(100% - 62px);
  background: linear-gradient(to right, #F3C224, #E94926);
  border-radius: 0.3rem;
  position: relative;
  display: flex;
  margin: 0 auto 0 auto;
}
