/* universal properties*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting rem measure */
html {
  font-size: 62.5%;
  background-color: #1D1D1F;
}

body {
    color: white;
    font-family: "Share Tech", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 15rem;
  background-color: black;
  border-radius: 1.5rem;
  width: 50rem;
  min-height: 60rem;
  height: 100%;
  box-sizing: border-box;
}

@media (min-width: 350px) {
  #root {
    width: calc(100% - 3rem)
  }
}

@media (min-width: 550px) {
  #root {
    width: 50rem;
  }
}
