/* universal properties*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting rem measuare */
html {
  font-size: 62.5%;
  background-color: black;
}

body {
    color: white;
    font-family: "Share Tech", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  background-color: #1D1D1F;
  border-radius: 1.5rem;
  width: 50rem;
  min-height: 60rem;
  box-sizing: border-box;
}
