/* universal properties*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting rem measuare */
html {
  font-size: 62.5%;
  background-color: black;
}

body {
    color: white;
    font-family: "Share Tech", Helvetica, sans-serif;
    display: flex;
    position: relative;
    justify-content: center;
}

#root {
  margin-top: 5rem;
  position: relative;
  background-color: #1D1D1F;
  border-radius: 1.5rem;
  width: 50rem;
  min-height: 50rem;
  align-content: center;
}
