.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  width: 4.8rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.Icon-container-check {
  display: flex;
  position: absolute;
  margin: -1.4rem 0 0 2rem;
}

.Icon-container-check--active {
  color: #70D25A;
}

.Icon-container-delete {
  display: flex;
  position: absolute;
  margin: -4.2rem 0 0 43rem;
}

.Icon-container-delete:hover {
  color: red;
}

.Icon-svg {
  width: 24px;
  height: 24px;
}

.Icon-container-check:hover  .Icon-svg {
  fill: green;
}

.Icon-container-delete:hover  .Icon-svg {
  fill: red;
}
