.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 5rem;
}

.slider {
  overflow: hidden;
  background-color: white;
  margin: 0 1.5rem;
  height: 8rem;
  width: 2rem;
  border-radius: 3rem;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 42rem 0 40rem rgb(175, 226, 66),
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}
